<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Set the logging level for Hibernate to WARN to reduce verbosity -->
    <logger name="org.hibernate" level="INFO" />

    <!-- Optional: set specific categories to DEBUG for detailed info -->
    <logger name="org.hibernate.SQL" level="INFO" />
    <logger name="org.hibernate.type" level="INFO" /> <!-- Logs JDBC parameters -->
    <logger name="org.hibernate.jdbc" level="INFO" /> <!-- Logs connection activity -->

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>