<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
       
	<bean id = "myXmlCalc" class = "com.gal.algo.Mycalc" scope = "singleton" lazy-init="false" init-method="OnInit" destroy-method="OnDestroy">  
	</bean>
	
	<bean id = " myXmlStringBuilder" class = "java.lang.StringBuilder">
		<constructor-arg value="Hello from Xml string builder" />
	</bean>
</beans>